<div name="list_item-list_item" class='list_item-list_item' width='100%'>
  {{#each list_items as |list_item|}}
    <ul>{{list_item.list_item}}</h1><br/>
      <li>{{list_item_name}}</li>
      <li>ID: {{list_item.id}}</li>
      <li>Category: {{list_item_category}}</li>
      <input type='button' value='Update Item' id='list-item-update-{{list_item.id}}' class='list-menu'>
      <input type='button' value='Delete Item' id='list-item-delete-{{list_item.id}} deleteOneListItem deleteListItemFailure' class='list-item-menu deleteOneListItem'>
  </div>
  {{/each}}
</div>
